body {
	margin: 100px;
	color: rgba(50, 50, 50, .4);
	font-size: 14pt;
	font-family: "Trebuchet MS", Courier, monospace;
	/*background: url(../images/where-i-work.png) no-repeat center center fixed;*/
	/*background-size: cover;         /* Generic*/
	background-color: rgba(215, 251, 255, 1);

}

section {
	margin: 50px auto;
	padding: 10px 40px;
	width: 30%;
	min-width: 400px;
	background: rgba(255, 255, 255, .2);
	/*background-color: rgba(230,70,130,.8);*/
}
 
h1,h2,h3,h4,h5,h6 {
	text-align: center;
}

a:link {
	color: lightpink;
}
a:visited {
	color: pink;
}
a:hover {
	color: #fff;
	background: pink;
}
a:active {
	color: #777;
	background: #dafbfd;
}