div {
	padding:0%;
	margin:0%;
}

.letter {

	display: inline-block;
	position: relative;
	margin: auto;

	width: 500px;
	height: 500px;

	background: yellow;
}

.lower {
	display: none;

	position: absolute;
	width: 100%;
	height: 100%;
}

.upper {

	position: absolute;
	width: 100%;
	height: 100%;
}

.letter:hover .upper {
	display: none;

}


.letter:hover .lower {
	display: initial;

}

.stroke {


	position: absolute;
	height: 0;
	width: 0;
}








































/********************************************/
/********************************************/
/********************************************/
.a .upper .st1 {
	border-bottom: 500px solid blue;
	border-right: 250px solid transparent;
	border-left: 250px solid transparent;
	border-top: none;

	bottom: 0%;
	left: 0%;
}
/*****************/

.a .lower .st1 {
	border: 150px solid red;
	border-radius: 50%;

	bottom: 0%;
	left: 15%;
}

.a .lower .st2 {
	height: 60%;
	width: 25%;
	background: red;

	bottom: 0%;
	left: 55%;
}
/********************************************/
/********************************************/
/********************************************/

.b .upper .st1 {
	border: 150px solid blue;
	border-radius: 50%;

	bottom: 0%;
	right: 0%;
}

.b .upper .st2 {
	border: 120px solid blue;
	border-radius: 50%;

	top: 0%;
	right: 20%;
}

.b .upper .st3 {
	height: 100%;
	width: 55%;
	background: blue;

	top: 0%;
	left: 0%;
}

.b .upper .st4 {
	
	height: 55%;
	width: 75%;
	background: blue;

	bottom: 0%;
	left: 0%;
}
/*****************/

.b .lower .st1 {
	border: 150px solid red;
	border-radius: 50%;

	bottom: 0%;
	left: 25%;
}

.b .lower .st2 {
	height: 100%;
	width: 25%;
	background: red;

	bottom: 0%;
	left: 20%;
}
/********************************************/
/********************************************/
/********************************************/
.c .upper .st1 {
	border: 250px solid blue;
	border-right: 250px solid transparent;
	border-radius: 50%;

	bottom: 0%;
	left: 0%;

	width: 15%;
}

/*****************/
.c .lower .st1 {
	border: 150px solid red;
	border-right: 150px solid transparent;
	border-radius: 50%;

	bottom: 0%;
	left: 20%;
}

/********************************************/
/********************************************/
/********************************************/
.d .upper .st1 {
	border: 251px solid blue;
	border-left: 251px solid transparent;
	border-radius: 50%;

	bottom: 0%;
	right: 0%;
}

.d .upper .st2 {
	height: 100%;
	width: 45%;
	background: blue;

	top: 0%;
	left: 0%;
}

.d .upper .st3 {
	border: 175px solid blue;
	border-radius: 50%;

	top: 25%;
	left: 25%;
}

/*****************/

.d .lower .st1 {
	border: 150px solid red;
	border-radius: 50%;

	bottom: 0%;
	right: 25%;
}

.d .lower .st2 {
	height: 100%;
	width: 25%;
	background: red;

	bottom: 0%;
	right: 20%;
}


/********************************************/
/********************************************/
/********************************************/
.e .upper .st1 {
	height: 33%;
	width: 40%;
	background: blue;

	bottom: 67%;
	left: 0%;
}

.e .upper .st2 {
	height: 33%;
	width: 70%;
	background: blue;

	bottom: 34%;
	left: 0%;
}

.e .upper .st3 {
	height: 34%;
	width: 100%;
	background: blue;

	bottom: 0%;
	left: 0%;
}
/*****************/
.e .lower .st1 {
	border: 150px solid red;
	border-radius: 50%;

	bottom: 0%;
	left: 20%;
}

.e .lower .st2 {
	height: 30%;
	width: 100%;
	background: yellow;

	bottom: 0%;
	left: 0%;
}

.e .lower .st3 {
	border: 150px solid red;
	border-right: 150px solid transparent;
	border-radius: 50%;

	bottom: 0%;
	left: 20%;
}

/********************************************/
/********************************************/
/********************************************/
.f .upper .st1 {
	height: 33%;
	width: 100%;
	background: blue;

	bottom: 67%;
	left: 0%;
}

.f .upper .st2 {
	height: 33%;
	width: 70%;
	background: blue;

	bottom: 34%;
	left: 0%;
}

.f .upper .st3 {
	height: 34%;
	width: 35%;
	background: blue;

	bottom: 0%;
	left: 0%;
}
/*****************/
.f .lower .st1 {
	border: 150px solid red;
	border-radius: 50%;

	bottom: 40%;
	left: 20%;
}

.f .lower .st2 {
	height: 30%;
	width: 100%;
	background: yellow;

	bottom: 40%;
	left: 0%;
}

.f .lower .st3 {
	height: 70%;
	width: 25%;
	background: red;

	bottom: 0%;
	left: 20%;
}

.f .lower .st4 {
	height: 20%;
	width: 20%;
	background: red;

	bottom: 55%;
	left: 40%;
}

/********************************************/
/********************************************/
/********************************************/
.g .upper .st1 {
	border: 250px solid blue;
	border-radius: 50%;

	bottom: 0%;
	left: 0%;
}

.g .upper .st2 {
	height: 50%;
	width: 100%;
	background: yellow;

	bottom: 50%;
	left: 0%;
}

.g .upper .st3 {
	border: 250px solid blue;
	border-right: 250px solid transparent;
	border-radius: 50%;

	bottom: 0%;
	left: 0%;
}
/*****************/
.g .lower .st1 {
	border: 150px solid red;
	border-radius: 50%;

	bottom: 0%;
	left: 20%;
}

.g .lower .st2 {
	border: 140px solid red;
	border-radius: 50%;

	bottom: -50%;
	left: 23%;

	z-index: 1;
	opacity: .5;
}
/********************************************/
/********************************************/
/********************************************/

.h .upper .st1 {
	height: 100%;
	width: 34%;
	background: blue;

	bottom: 0%;
	left: 00%;
}

.h .upper .st2 {
	height: 100%;
	width: 34%;
	background: blue;

	bottom: 0%;
	right: 0%;
}

.h .upper .st3 {
	border: 100px solid blue;
	border-radius: 50%;

	bottom: 40%;
	left: 30%;
}
/*****************/

.h .lower .st1 {
	border: 150px solid red;
	border-radius: 50%;

	bottom: 0%;
	left: 20%;
}

.h .lower .st2 {
	height: 100%;
	width: 25%;
	background: red;

	bottom: 0%;
	left: 20%;
}

.h .lower .st3 {
	height: 30%;
	width: 59.5%;
	background: red;

	bottom: 0%;
	left: 20%;
}

/********************************************/
/********************************************/
/********************************************/
.i .upper .st1 {
	height: 100%;
	width: 30%;
	background: blue;

	bottom: 0%;
	left: 35%;
}
/*****************/
.i .lower .st1 {
	height: 60%;
	width: 25%;
	background: red;

	bottom: 0%;
	left: 37%;
}

.i .lower .st2 {
	border: 75px solid red;
	border-radius: 50%;

	bottom: 60%;
	left: 35%;
}

/********************************************/
/********************************************/
/********************************************/
.j .upper .st1 {
	height: 60%;
	width: 45%;
	background: blue;

	top: 0%;
	right: 5%;
}

.j .upper .st2 {
	border: 225px solid blue;
	border-top: 225px solid transparent;
	border-radius: 50%;

	bottom: 0%;
	right: 5%;
}
/*****************/

.j .lower .st1 {
	height: 60%;
	width: 25%;
	background: red;

	bottom: 0%;
	right: 37%;
}

.j .lower .st2 {
	height: 33%;
	width: 25%;
	background: red;

	bottom: -33%;
	right: 37%;

	z-index: 1;
	opacity: .5;
}

.j .lower .st3 {
	border: 75px solid red;
	border-radius: 50%;

	bottom: 60%;
	right: 35%;
}
/********************************************/
/********************************************/
/********************************************/

.k .upper .st1 {
	height: 100%;
	width: 36%;
	background: blue;

	bottom: 0%;
	left: 0%;
}

.k .upper .st2 {
	border-top: 250px solid blue;
	border-right: 325px solid transparent;
	border-left: 0px solid transparent;
	border-bottom: none;

	top: 0%;
	right: 0%;
}

.k .upper .st3 {
	border-bottom: 350px solid blue;
	border-right: 325px solid transparent;
	border-left: 0px solid transparent;
	border-top: none;

	bottom: 0%;
	right: 0%;
}
/*****************/

.k .lower .st1 {
	height: 100%;
	width: 25%;
	background: red;

	bottom: 0%;
	left: 20%;
}

.k .lower .st2 {
	border-top: 150px solid red;
	border-right: 150px solid transparent;
	border-left: 0px solid transparent;
	border-bottom: none;

	top: 25%;
	left: 45%;}

.k .lower .st3 {
	border-bottom: 250px solid red;
	border-right: 200px solid transparent;
	border-left: 0px solid transparent;
	border-top: none;

	bottom: 0%;
	left: 45%;
}

/********************************************/
/********************************************/
/********************************************/
.l .upper .st1 {
	height: 100%;
	width: 35%;
	background: blue;

	bottom: 0%;
	left: 0%;
}

.l .upper .st2 {
	height: 40%;
	width: 100%;
	background: blue;

	bottom: 0%;
	left: 0%;
}

/*****************/
.l .lower .st1 {
	height: 100%;
	width: 25%;
	background: red;

	top: 0%;
	left: 37%;
}


/********************************************/
/********************************************/
/********************************************/
.m .upper .st1 {
	border-bottom: 500px solid blue;
	border-right: 300px solid transparent;
	border-left: 0px solid transparent;
	border-top: none;

	bottom: 0%;
	left: 0%;
}

.m .upper .st2 {
	border-bottom: 500px solid blue;
	border-right: 300px solid transparent;
	border-left: 0px solid transparent;
	border-top: none;

	bottom: 0%;
	left: 40%;
}

/*****************/
.m .lower .st1 {
	border: 125px solid red;
	border-radius: 50%;

	bottom: 10%;
	left: 5%;
}

.m .lower .st2 {
	border: 125px solid red;
	border-radius: 50%;

	bottom: 10%;
	right: 5%;
}

.m .lower .st3 {
	height: 33%;
	width: 90%;
	background: red;

	bottom: 0%;
	left: 5%;
}


/********************************************/
/********************************************/
/********************************************/
.n .upper .st1 {
	border-bottom: 500px solid blue;
	border-right: 500px solid transparent;
	border-left: 0px solid transparent;
	border-top: none;

	bottom: 0%;
	left: 0%;
}

.n .upper .st2 {
	height: 100%;
	width: 40%;
	background: blue;

	bottom: 0%;
	right: 0%;
}

/*****************/
.n .lower .st1 {
	border: 125px solid red;
	border-radius: 50%;

	bottom: 10%;
	left: 25%;
}

.n .lower .st2 {
	height: 33%;
	width: 50%;
	background: red;

	bottom: 0%;
	left: 25%;
}


/********************************************/
/********************************************/
/********************************************/
.o .upper .st1 {
	border: 250px solid blue;
	border-radius: 50%;

	bottom: 0%;
	left: 0%;
}
/*****************/
.o .lower .st1 {
	border: 150px solid red;
	border-radius: 50%;

	bottom: 0%;
	left: 20%;
}


/********************************************/
/********************************************/
/********************************************/

.p .upper .st1 {
	border: 200px solid blue;
	border-radius: 50%;

	top: 0%;
	right: 0%;
}

.p .upper .st2 {
	height: 100%;
	width: 45%;
	background: blue;

	bottom: 0%;
	left: 0%;
}

.p .upper .st3 {
	height: 58%;
	width: 55%;
	background: blue;

	top: 0%;
	left: 0%;
}
/*****************/
.p .lower .st1 {
	border: 150px solid red;
	border-radius: 50%;

	bottom: 0%;
	left: 20%;
}

.p .lower .st2 {
	height: 60%;
	width: 25%;
	background: red;

	bottom: 0%;
	left: 20%;
}

.p .lower .st3 {
	height: 33%;
	width: 25%;
	background: red;

	bottom: -33%;
	left: 20%;

	z-index: 1;
	opacity: .5;
}
/********************************************/
/********************************************/
/********************************************/
.q .upper .st1 {
	border: 250px solid blue;
	border-radius: 50%;

	bottom: 0%;
	left: 0%;
}

.q .upper .st2 {
	border-bottom: 250px solid blue;
	border-right: 250px solid transparent;
	border-left: 0px solid transparent;
	border-top: none;

	bottom: 0%;
	left: 50%;
}

/*****************/
.q .lower .st1 {
	border: 150px solid red;
	border-radius: 50%;

	bottom: 0%;
	left: 20%;
}

.q .lower .st2 {
	height: 60%;
	width: 25%;
	background: red;

	bottom: 0%;
	right: 20%;
}

.q .lower .st3 {
	height: 33%;
	width: 25%;
	background: red;

	bottom: -33%;
	right: 20%;

	z-index: 1;
	opacity: .5;
}
/********************************************/
/********************************************/
/********************************************/

.r .upper .st1 {
	border: 200px solid blue;
	border-radius: 50%;

	top: 0%;
	right: 0%;
}

.r .upper .st2 {
	height: 100%;
	width: 45%;
	background: blue;

	bottom: 0%;
	left: 0%;
}

.r .upper .st3 {
	height: 58%;
	width: 55%;
	background: blue;

	top: 0%;
	left: 0%;
}

.r .upper .st4 {
	border-bottom: 119px solid blue;
	border-right: 275px solid transparent;
	border-left: 0px solid transparent;
	border-top: none;

	bottom: 0%;
	left: 45%;
}

/*****************/
.r .lower .st1 {
	border: 150px solid red;
	border-radius: 50%;

	bottom: 0%;
	left: 20%;
}

.r .lower .st2 {
	height: 30%;
	width: 60%;
	background: yellow;

	bottom: 0%;
	left: 20%;
}

.r .lower .st3 {
	height: 60%;
	width: 25%;
	background: red;

	bottom: 0%;
	left: 20%;
}
/********************************************/
/********************************************/
/********************************************/
.s .upper .st1 {
	border: 250px solid blue;
	border-radius: 50%;

	bottom: 0%;
	left: 0%;
}

.s .upper .st2 {
	border-bottom: 300px solid yellow;
	border-right: 150px solid transparent;
	border-left: none;
	border-top: none;

	top: 0%;
	left: 0%;
}

.s .upper .st3 {
	border-top: 300px solid yellow;
	border-left: 150px solid transparent;
	border-right: none;
	border-bottom: none;

	bottom: 0%;
	right: 0%;
}
/*****************/
.s .lower .st1 {
	border: 150px solid red;
	border-radius: 50%;

	bottom: 0%;
	left: 20%;
}

.s .lower .st2 {
	border-bottom: 150px solid yellow;
	border-right: 100px solid transparent;
	border-left: none;
	border-top: none;

	bottom: 25%;
	left: 15%;
}

.s .lower .st3 {
	border-top: 150px solid yellow;
	border-left: 100px solid transparent;
	border-right: none;
	border-bottom: none;

	bottom: 5%;
	right: 15%;
}
/********************************************/
/********************************************/
/********************************************/
.t .upper .st1 {
	height: 100%;
	width: 35%;
	background: blue;

	bottom: 0%;
	left: 33%;
}
.t .upper .st2 {
	height: 30%;
	width: 100%;
	background: blue;

	top: 0%;
	left: 0%;
}
/*****************/
.t .lower .st1 {
	height: 100%;
	width: 25%;
	background: red;

	bottom: 0%;
	left: 37%;
}

.t .lower .st2 {
	height: 25%;
	width: 70%;
	background: red;

	bottom: 40%;
	left: 15%;
}


/********************************************/
/********************************************/
/********************************************/
.u .upper .st1 {
	height: 60%;
	width: 90%;
	background: blue;

	top: 0%;
	right: 5%;
}

.u .upper .st2 {
	border: 225px solid blue;
	border-radius: 50%;

	bottom: 0%;
	right: 5%;
}

/*****************/
.u .lower .st1 {
	border: 125px solid red;
	border-radius: 50%;

	bottom: 0%;
	left: 25%;
}

.u .lower .st2 {
	height: 33%;
	width: 50%;
	background: red;

	bottom: 27%;
	left: 25%;
}

/********************************************/
/********************************************/
/********************************************/

.v .upper .st1 {
	border-top: 500px solid blue;
	border-right: 250px solid transparent;
	border-left: 250px solid transparent;
	border-bottom: none;

	bottom: 0%;
	left: 0%;
}
/*****************/

.v .lower .st1 {
	border-top: 300px solid red;
	border-right: 150px solid transparent;
	border-left: 150px solid transparent;
	border-bottom: none;

	bottom: 0%;
	left: 20%;
}

/********************************************/
/********************************************/
/********************************************/

.w .upper .st1 {
	border-top: 500px solid blue;
	border-right: 150px solid transparent;
	border-left: 150px solid transparent;
	border-bottom: none;

	bottom: 0%;
	left: 0%;
}
.w .upper .st2 {
	border-top: 500px solid blue;
	border-right: 150px solid transparent;
	border-left: 150px solid transparent;
	border-bottom: none;

	bottom: 0%;
	right: 0%;
}
/*****************/

.w .lower .st1 {
	border-top: 300px solid red;
	border-right: 150px solid transparent;
	border-left: 150px solid transparent;
	border-bottom: none;

	bottom: 0%;
	left: 5%;
}
.w .lower .st2 {
	border-top: 300px solid red;
	border-right: 150px solid transparent;
	border-left: 150px solid transparent;
	border-bottom: none;

	bottom: 0%;
	right: 5%;
}


/********************************************/
/********************************************/
/********************************************/

.x .upper .st1 {
	border-top: 250px solid blue;
	border-right: 250px solid transparent;
	border-left: 250px solid transparent;
	border-bottom: none;

	top: 0%;
	left: 0%;
}
.x .upper .st2 {
	border-bottom: 250px solid blue;
	border-right: 250px solid transparent;
	border-left: 250px solid transparent;
	border-top: none;

	bottom: 0%;
	left: 0%;
}
/*****************/

.x .lower .st1 {
	border-top: 150px solid red;
	border-right: 150px solid transparent;
	border-left: 150px solid transparent;
	border-bottom: none;

	bottom: 30%;
	left: 20%;
}
.x .lower .st2 {
	border-bottom: 150px solid red;
	border-right: 150px solid transparent;
	border-left: 150px solid transparent;
	border-top: none;

	bottom: 0%;
	left: 20%;
}

/********************************************/
/********************************************/
/********************************************/

.y .upper .st1 {
	border-top: 500px solid blue;
	border-right: 250px solid transparent;
	border-left: 250px solid transparent;
	border-bottom: none;

	top: 0%;
	left: 0%;
}
.y .upper .st2 {
	height: 100%;
	width: 30%;
	background: blue;

	top: 0%;
	left: 35%;
}
/*****************/

.y .lower .st1 {
	border-top: 200px solid red;
	border-right: 100px solid transparent;
	border-left: 100px solid transparent;
	border-bottom: none;

	bottom: -40%;
	right: 40%;

	z-index: 1;
	opacity: .5;
}

.y .lower .st2 {
	border-top: 300px solid red;
	border-right: 150px solid transparent;
	border-left: 150px solid transparent;
	border-bottom: none;

	bottom: 0%;
	right: 10%;
}

/********************************************/
/********************************************/
/********************************************/

.z .upper .st1 {
	border-top: 301px solid blue;
	border-right: 200px solid transparent;
	border-left: 300px solid transparent;
	border-bottom: none;

	top: 0%;
	left: 0%;
}
.z .upper .st2 {
	border-bottom: 301px solid blue;
	border-right: 300px solid transparent;
	border-left: 200px solid transparent;
	border-top: none;

	bottom: 0%;
	left: 0%;
}
/*****************/

.z .lower .st1 {
	border-top: 180px solid red;
	border-right: 120px solid transparent;
	border-left: 180px solid transparent;
	border-bottom: none;

	bottom: 20%;
	left: 20%;
}
.z .lower .st2 {
	border-bottom: 180px solid red;
	border-right: 180px solid transparent;
	border-left: 120px solid transparent;
	border-top: none;

	bottom: 0%;
	left: 20%;
}


























/********************************************/
/********************************************/
/********************************************/

.n0 .upper .st1 {
	border: 240px solid red;
	border-top: 240px solid transparent;
	border-left: 240px solid transparent;
	border-radius: 50%;

	bottom: 0%;
	right: 0%;
}
.n0 .upper .st2 {
	border: 240px solid red;
	border-bottom: 240px solid transparent;
	border-right: 240px solid transparent;
	border-radius: 50%;

	top: 0%;
	left: 0%;
}
/*****************/

.n0 .lower .st1 {
	border: 250px solid blue;
	border-left: 150px solid blue;
	border-right: 150px solid blue;
	border-radius: 50%;

	bottom: 0%;
	left: 20%;
}
/********************************************/
/********************************************/
/********************************************/

.n1 .upper .st1 {
	height: 100%;
	width: 30%;
	background: red;

	top: 0%;
	left: 55%;
}
.n1 .upper .st2 {
	border-bottom: 200px solid red;
	border-right: none;
	border-left: 200px solid transparent;
	border-top: none;

	top: 0%;
	left: 15%;
}
/*****************/

.n1 .lower .st1 {

	height: 100%;
	width: 15%;
	background: blue;

	bottom: 0%;
	left: 43%;
}


/********************************************/
/********************************************/
/********************************************/

.n2 .upper .st1 {
	border: 200px solid red;
	border-bottom: 200px solid transparent;
	border-radius: 50%;

	top: 0%;
	left: 0%;
}

.n2 .upper .st2 {
	border-bottom: 301px solid red;
	border-right: 300px solid transparent;
	border-left: 119px solid transparent;
	border-top: none;

	bottom: 0%;
	left: 17%;
}
/*****************/

.n2 .lower .st1 {
	border: 150px solid blue;
	border-radius: 50%;

	top: 0%;
	left: 20%;
}

.n2 .lower .st23 {
	width: 60%;
	height: 30%;
	background: yellow;

	top: 30%;
	left: 20%;
}

.n2 .lower .st3 {
	width: 60%;
	height: 15%;
	background: blue;

	bottom: 0%;
	left: 20%;
}

.n2 .lower .st4 {
	border: none;
	border-left: 260px solid blue;
	border-bottom: 260px solid transparent;

	bottom: 0%;
	left: 20%;
}

.n2 .lower .st5 {
	border: none;
	border-left: 200px solid yellow;
	border-bottom: 200px solid transparent;

	bottom: 15%;
	left: 15%;
}



/********************************************/
/********************************************/
/********************************************/

.n3 .upper .st1 {
	border: 150px solid red;
	border-left: 150px solid transparent;
	border-radius: 50%;

	width: 20%;
	top: 0%;
	left: 10%;
}

.n3 .upper .st2 {
	border: 150px solid red;
	border-left: 150px solid transparent;
	border-radius: 50%;

	width: 20%;
	bottom: 0%;
	left: 10%;
}
/*****************/

.n3 .lower .st1 {
	border: 150px solid blue;
	border-left: 150px solid transparent;
	border-radius: 50%;

	top: 0%;
	left: 20%;
}

.n3 .lower .st2 {
	border: 150px solid blue;
	border-left: 150px solid transparent;
	border-radius: 50%;

	bottom: 0%;
	left: 20%;
}
/********************************************/
/********************************************/
/********************************************/

.n4 .upper .st1 {
	height: 100%;
	width: 30%;
	background: red;

	top: 0%;
	left: 55%;
}
.n4 .upper .st2 {
	height: 75%;
	width: 60%;
	background: red;

	top: 0%;
	left: 15%;
}
/*****************/

.n4 .lower .st1 {

	height: 100%;
	width: 15%;
	background: blue;

	bottom: 0%;
	right: 25%;
}

.n4 .lower .st2 {
	border: none;
	border-bottom: 400px solid blue;
	border-left: 200px solid transparent;

	top: 0%;
	right: 40%;
}

/********************************************/
/********************************************/
/********************************************/

.n5 .upper .st1 {
	border: 175px solid red;
	border-radius: 50%;

	bottom: 0%;
	left: 15%;
}
.n5 .upper .st2 {
	height: 30%;
	width: 60%;
	background: red;

	top: 0%;
	left: 20%;
}
.n5 .upper .st3 {
	height: 20%;
	width: 30%;
	background: red;

	top: 20%;
	left: 20%;
}
.n5 .upper .st4 {
	border: none;
	border-top: 120px solid red;
	border-left: 100px solid transparent;

	top: 40%;
	left: 20%;	
}
/*****************/


.n5 .lower .st1 {
	border: 150px solid blue;
	border-radius: 50%;

	bottom: 0%;
	right: 20%;
}

.n5 .lower .st23 {
	width: 60%;
	height: 30%;
	background: yellow;

	bottom: 30%;
	right: 20%;
}

.n5 .lower .st3 {
	width: 60%;
	height: 15%;
	background: blue;

	top: 0%;
	right: 20%;
}

.n5 .lower .st4 {
	border: none;
	border-left: 260px solid blue;
	border-top: 200px solid transparent;

	top: 11%;
	left: 20%;
}

.n5 .lower .st5 {
	border: none;
	border-left: 200px solid yellow;
	border-top: 150px solid transparent;

	top: 25%;
	left: 15%;
}


/********************************************/
/********************************************/
/********************************************/

.n6 .upper .st1 {
	border: 175px solid red;
	border-radius: 50%;

	bottom: 0%;
	left: 15%;
}
.n6 .upper .st2 {
	border: none;
	border-bottom: 250px solid red;
	border-left: 150px solid transparent;

	top: 0%;
	left: 19%;	
}
/*****************/

.n1 .lower .st1 {

	height: 100%;
	width: 15%;
	background: blue;

	bottom: 0%;
	left: 43%;
}

/********************************************/
/********************************************/
/********************************************/

.n7 .upper .st1 {
	border: none;
	border-top: 200px solid red;
	border-right: 300px solid transparent;

	top: 0%;
	left: 20%;	
}
.n7 .upper .st2 {
	border: none;
	border-bottom: 400px solid red;
	border-left: 200px solid transparent;

	bottom: 0%;
	left: 11%;	
}
.n7 .upper .st3 {
	border: none;
	border-top: 500px solid red;
	border-right: 200px solid transparent;

	top: 0%;
	left: 50%;	
}
/*****************/

.n1 .lower .st1 {

	height: 100%;
	width: 15%;
	background: blue;

	bottom: 0%;
	left: 43%;
}


/********************************************/
/********************************************/
/********************************************/

.n8 .upper .st1 {
	border: 125px solid red;
	border-radius: 50%;

	top: 0%;
	left: 25%;
}
.n8 .upper .st2 {
	border: 175px solid red;
	border-radius: 50%;

	bottom: 0%;
	left: 15%;
}
/*****************/

.n1 .lower .st1 {

	height: 100%;
	width: 15%;
	background: blue;

	bottom: 0%;
	left: 43%;
}
/********************************************/
/********************************************/
/********************************************/

.n9 .upper .st1 {
	border: 175px solid red;
	border-radius: 50%;

	top: 0%;
	left: 15%;
}
.n9 .upper .st2 {
	border: none;
	border-top: 250px solid red;
	border-right: 150px solid transparent;

	bottom: 0%;
	right: 20%;	
}
/*****************/

.n1 .lower .st1 {

	height: 100%;
	width: 15%;
	background: blue;

	bottom: 0%;
	left: 43%;
}

























































/********************************************/
/********************************************/
/********************************************/

.space .upper .st1 {
	height: 100%;
	width: 100%;
	background: blue;

	bottom: 0%;
	left: 0%;
}
/*****************/

.space .lower .st1 {
	height: 100%;
	width: 100%;
	background: red;

	bottom: 0%;
	left: 0%;
}

/********************************************/
/********************************************/
/********************************************/

.period .upper .st1 {
	border: 150px solid blue;
	border-radius: 50%;

	bottom: 0%;
	left: 0%;
}
/*****************/

.period .lower .st1 {
	height: 30%;
	width: 30%;
	background: red;

	bottom: 0%;
	left: 0%;
}
/********************************************/
/********************************************/
/********************************************/

.comma .upper .st1 {
	border: 150px solid blue;
	border-radius: 50%;

	bottom: 0%;
	left: 0%;
}

.comma .upper .st2 {
	border-top: 60px solid blue;
	border-left: 60px solid blue;
	border-right: 60px solid transparent;
	border-bottom: 60px solid transparent;

	bottom: -12%;
	left: 30%;

	z-index: 1;
	opacity: .5;
}

.comma .upper .st3 {
	border: 150px solid blue;
	border-radius: 50%;

	bottom: 0%;
	left: 0%;
}
/*****************/

.comma .lower .st1 {
	height: 30%;
	width: 30%;
	background: red;

	bottom: 0%;
	left: 0%;
}

