div.gucci {
	padding: 100px;
	margin: 0;

	font-weight: bold;
	font-size: 2cm;
	font-style: oblique;
	text-align: justify;
	letter-spacing: -.2em;
	line-height: 0em;
	text-transform: uppercase;
}

span.gucci {
	margin: -80px 0px;
	padding: 3px;
	border-bottom: 200px solid rgba(230,70,130,.2);
	border-radius: 50%;
	float: left;
}